<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel='stylesheet' href='/stylesheets/global.css' />
  <link rel='stylesheet' href='/stylesheets/db-test.css' />
  <title>Database Test</title>
</head>

<body>
  <i class="fa-solid fa-database" style="font-size: 5em;"></i>
  <h1>Database status</h1>
  <% if (connected) { %>
  <span class="good-msg">Database is up and running!</span>
  <% } else { %>
  <span class="bad-msg">There is something wrong with the database, check the logs.</span>
  <% } %>
</body>

</html>