<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
  <link rel='stylesheet' href='/stylesheets/global.css' />
  <link rel='stylesheet' href='/stylesheets/db-test.css' />
</head>

<body>
  <h1>Database status</h1>
  <% if (connected) { %>
  <span class="good-msg">Database is up and running!</span>
  <% } else { %>
  <span class="bad-msg">There is something wrong with the database, check the logs.</span>
  <% } %>
</body>

</html>