<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel='stylesheet' href='/stylesheets/global.css' />
  <link rel='stylesheet' href='/stylesheets/error.css' />
  <title>Error</title>
</head>

<body>
  <h1><i class="fa-solid fa-triangle-exclamation"></i> <%= message %></h1>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>
</body>

</html>